<!DOCTYPE html>
<html lang="ko">
<head>
        <script
        src="http://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class = "container">
    
    <h1><strong>안녕하세요!</strong> </h1>
    <h3><u><strong>이메일</strong></u>을 입력하고 아래 칸에 글자를 입력하세요!</h3> <br>

        <form action = "{%url 'result'%}"> 
        
            <div class="form-group">
                <label for="exampleInputEmail1">이메일 주소</label>
                <input type="email" name = "email_address" class="form-control" id="exampleInputEmail1" placeholder="이메일을 입력하세요">
            </div>
            <a href = "{%url 'about'%}" ><strong>ABOUT</strong></a>
            <br><br>
            <textarea class = "form-control" cols = "20" rows = "20" name = "fulltext"></textarea>
            <br>
            <input type="submit" value = "제출" class="btn btn-success">
            
         </form>
    </div>
</body>
</html>

